{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Registro da partida{% endblock title %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <h2 class="card-title text-dark">Partida - {{partia.numero}} | {{partida.get_etapa_display}}</h2>
                <form method="POST">
                    <div class="card">
                        <div class="card-header pb-0">
                            <div class="text-center">
                                <h4 class="mb-0 font-weight-bold">Informações da partida</h4>
                            </div>
                        </div>
                        <div class="card-body pt-0">
                            {% for form in formset %}
                            <div class="m-sm-4">
                                {% include 'forms/resultado_form.html' with form=form %}
                            </div>
                            {% endfor %}
                        </div>
                        <div class="text-center mt-3 mb-5">
                            <a href="{% url 'partida:partida_detail' partida.pk %}" class="btn btn-lg btn-danger">Cancelar</a>
                            <button type="submit" class="btn btn-lg btn-success">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}