<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login | Liga das Atléticas</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>
<body id="page-top">
{% block css %}
{% endblock css %}
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <div class="container">
                    <!-- Outer Row -->
                    <div class="row justify-content-center">
                        <div class="col-xl-10 col-lg-12 col-md-9">
                            <div class="card o-hidden border-0 shadow-lg my-5">
                                <div class="card-body">
                                    <!-- Nested Row within Card Body -->
                                    <div class="row">
                                        <div class="col-lg-6 d-none d-lg-block">
                                            <a href="{% url 'base:index' %}">
                                                <img src="{% static 'img/orjia.png' %}"
                                                     style="max-height:100%; max-width:100%;">
                                            </a>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="p-5">
                                                <div class="text-center">
                                                    <h1 class="h4 text-gray-900 mb-4">Acesse sua conta para
                                                        continuar!</h1>
                                                </div>
                                                {% if messages %}
                                                <div class="row align-items-center py-4">
                                                    <div class="col">
                                                        {% include 'components/messages.html' %}
                                                    </div>
                                                </div>
                                                {% endif %}
                                                <form method="post">
                                                    {% csrf_token %}
                                                    {% include 'components/form_messages.html' with form=form %}
                                                    <div class="form-group">
                                                        {% include 'components/field.html' with label='Email:' field=form.email required=True %}
                                                    </div>
                                                    <div class="form-group">
                                                        {% include 'components/field.html' with label='Senha:' field=form.password required=True %}
                                                    </div>
                                                    <div>
                                                        <label class="form-check">
                                                            <input class="form-check-input" type="checkbox"
                                                                   value="remember-me"
                                                                   name="remember-me" checked>
                                                            <span class="form-check-label">Lembrar minhas credenciais</span>
                                                        </label>
                                                    </div>
                                                    <div class="text-center mt-3">
                                                        <button type="submit" class="btn btn-lg btn-primary">Entrar
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'components/footer.html' %}
        <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<!-- Page level plugins -->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
<!-- Page level custom scripts -->
<script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
{% block javascript %}
{% endblock javascript %}
</body>
</html>