{% extends 'base/base.html' %}
{% load static %}

{% block title %}Detalhes da campanha{% endblock title %}

{% block content %}
{% if messages %}
<div class="row align-items-center py-4">
    <div class="col">
        {% include 'components/messages.html' %}
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-dark"> Campanha {{ campanha.nome }}
                    {% if user.is_authenticated and user.is_staff %}
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-center"></h2>
                        <span class="pull-right">
                            <a href="{% url 'campanha:competicao_create' %}">
                            <button type="button" class="btn btn-primary btn-round">
                                <span class="fa fa-plus"></span> Adicionar competição
                            </button>
                            </a>
                        </span>
                    </div>
                    {% endif %}
                </h2>
                <div class="row mb-2 mt-2">
                    <div class="col-12">
                        {% include 'components/read_only_field.html' with value=campanha.nome label='Nome' %}
                    </div>
                </div>
                <div class="row mb-2 mt-2">
                    <div class="col-12 col-md-6">
                        {% include 'components/read_only_field.html' with value=campanha.data_inicio label='Inicio' %}
                    </div>
                    <div class="col-12 col-md-6">
                        {% include 'components/read_only_field.html' with value=campanha.data_final label='Final' %}
                    </div>
                </div>
                {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'campanha:campanha_update' campanha.id %}" class="btn btn-warning float-right">
                    Editar
                </a>
                {% endif %}
                <br><br>
                <div class="col">
                    {% if competicao %}
                    {% for object in competicao %}
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title text-dark"> Competição {{ object.modalidade }}</h2>
                                    <div class="row mb-2 mt-2">
                                        <div class="col-12">
                                            {% include 'components/read_only_field.html' with value=object.get_sex_display label='Naipe' %}
                                        </div>
                                    </div>
                                    {% if user.is_authenticated and user.is_staff %}
                                    <button type="button" rel="tooltip" data-placement="left" title="Apagar item"
                                            class="btn btn-danger"
                                            data-toggle="modal" data-target="#modalCompeticao{{object.pk}}">Excluir
                                    </button>
                                    <a href="{% url 'campanha:competicao_update' object.pk %}"
                                       class="btn btn-warning">
                                        Editar
                                    </a>
                                    {% endif %}
                                    <a href="{% url 'campanha:competicao_detail' object.pk %}"
                                       class="btn btn-primary float-right">
                                        Detalhes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="modal fade" id="modalCompeticao{{object.pk}}" tabindex="-1" role="dialog"
                         aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="TituloModalCentralizado">Apagar Competicao</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="{% url 'campanha:competicao_delete' object.pk %}" method="POST"
                                          novalidate>
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col">
                                                Tem certeza que deseja apagar a competicao {{object.nome}}?
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default btn-round"
                                                    data-dismiss="modal">Cancelar
                                            </button>
                                            <button type="submit" class="btn btn-danger btn-round">Apagar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="tab-content text-center">
                        <p class="alert alert-warning">Sem competições cadastradas.</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}