{% if modalidades %}
<div class="row mt-5">
</div>
{% else %}
<div class="tab-content text-center">
    <p class="alert alert-warning">Sem modalidades cadastradas.</p>
</div>
{% endif %}

{% if object_list %}
<div class="row mt-5">
    {% for atletica in object_list %}
    <a href="{% url 'atletica:atletica_detail' atletica.id %}">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/orjia.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{atletica.nome}}</h5>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<div class="tab-content text-center">
    <p class="alert alert-warning">Sem atléticas cadastradas.</p>
</div>
{% endif %}