{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Cadastro de equipe{% endblock title %}

{% block content %}
<form method="POST">
    <div class="card">
        <div class="card-header pb-0">
            <div class="text-center">
                <h4 class="mb-0 font-weight-bold">Informações da equipe</h4>
            </div>
        </div>

        <div class="card-body pt-0">
            <div class="m-sm-4">
                {% include 'forms/equipe_form.html' with form=form %}
            </div>
        </div>
        <div class="text-center mt-3 mb-5">
            <a href="{% url 'atletica:equipe_list' %}" class="btn btn-lg btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-lg btn-success">Cadastrar</button>
        </div>
    </div>
</form>
{% endblock %}
{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>
{% endblock javascript %}
