{% extends 'base/base.html' %}
{% load static %}

{% block title %}Atléticas{% endblock title %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h2 class="text-center"> Atléticas </h2>
    {% if user.is_authenticated and user.is_staff %}
    <a href="{% url 'atletica:atletica_add' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Adicionar
        atlética</a>
    {% endif %}
</div>

{% if object_list %}
<div class="row mt-5">
    {% for atletica in object_list %}
    <a href="{% url 'atletica:atletica_detail' atletica.id %}">
        <div class="card" style="width: 18rem;">
            <img src="{% static 'img/orjia.png' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{atletica.nome}}</h5>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<div class="tab-content text-center">
    <p class="alert alert-warning">Sem atléticas cadastradas.</p>
</div>
{% endif %}
{% endblock %}