<div class="row">
    {% if messages %}
                <div class="col-12 mb-3">
                    {% include 'components/messages.html' %}
                </div>
    {% endif %}

    {% csrf_token %}

    {% include 'components/form_messages.html' with form=form %}

    <div class="col-12 mb-3">
        {% include 'components/field.html' with label='Nome:' field=form.nome %}
    </div>
    <div class="col-12 mb-3">
        {% include 'components/field.html' with label='Matricula:' field=form.matricula %}
    </div>

    <div class="col-12 mb-3">
        {% include 'components/field.html' with label='Chave:' field=form.chave %}
    </div>

    <div class="mb-3">
        {% include 'components/field.html' with label='Naipe:' field=form.sex %}
    </div>
</div>