<div class="row">
    {% if messages %}
    <div class="col-12 mb-3">
        {% include 'components/messages.html' %}
    </div>
    {% endif %}

    {% csrf_token %}

    {% include 'components/form_messages.html' with form=form %}

    <div class="col-12 mb-3">
        {% include 'components/field.html' with label='Nome:' field=form.nome %}
    </div>
    <div class="col-12 mb-3">
        {% include 'components/field.html' with label='Email:' field=form.email %}
    </div>

    <div class="col-12 mb-3">
        {% include 'components/field.html' with label='Curso:' field=form.curso %}
    </div>

    <div class="col-12 col-md-6 mb-3">
        {% include 'components/field.html' with label='Instagem da Atlética:' field=form.instagram %}
    </div>
    <div class="col-12 col-md-6 mb-3">
        {% include 'components/field.html' with label='Twitter da Atlética:' field=form.twitter %}
    </div>

    {% if action == 'create' %}
    <div class="col-12 col-md-6 mb-3">
        {% include 'components/field.html' with label='Senha:' field=form.password1 %}
    </div>
    <div class="col-12 col-md-6 mb-3">
        {% include 'components/field.html' with label='Confirmação de senha:' field=form.password2 %}
    </div>
    {% endif %}
</div>