{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Cadastro de campanha{% endblock title %}

{% block content %}
<form method="post">
    <div class="card">
        <div class="card-header pb-0">
            <div class="text-center">
                <h4 class="mb-0 font-weight-bold">Informações da campanha</h4>
            </div>
        </div>

        <div class="card-body pt-0">
            <div class="m-sm-4">
                {% if messages %}
                <div class="row align-items-center">
                    <div class="col">
                        {% include 'components/messages.html' %}
                    </div>
                </div>
                {% endif %}

                {% csrf_token %}
                {% include 'components/form_messages.html' with form=form %}
                <div class="row">
                    <div class="col-12 mb-3">
                        {% include 'components/field.html' with label='Nome:' field=form.nome %}
                    </div>
                    <div class="col-12 mb-3">
                        {% include 'components/field.html' with label='Data de inicio:' field=form.data_inicio %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        {% include 'components/field.html' with label='Data de termino:' field=form.data_final %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        {% include 'components/field.html' with label='Ano da campanha:' field=form.ano %}
                    </div>
                </div>
            </div>
<!--            <div>-->
<!--                -->
<!--            </div>-->
        </div>
        <div class="text-center mt-3 mb-5">
            <button onclick="history.back()" class="btn btn-lg btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-lg btn-success">Cadastrar</button>
        </div>
</form>
{% endblock %}
