<div class="row">
    {% if messages %}
    <div class="col-12 mb-3">
        {% include 'components/messages.html' %}
    </div>
    {% endif %}

    {% csrf_token %}

    {% include 'components/form_messages.html' with form=form %}

    <div class="row">
        <div class="col-6 mb-3">
            {% include 'components/field.html' with label='Modalidade da equipe:' field=form.modalidade %}
        </div>
        <div class="col-3 mb-3">
            {% include 'components/field.html' with label='Atletica:' field=form.atletica %}
        </div>
<!--        <div class="col-3 mb-3">-->
<!--            {#% include 'components/field.html' with label='Camapnha:' field=form.campanha %#}-->
<!--        </div>-->
        <div class="col-12 mb-3">
            {% include 'components/field.html' with label='Atletas:' field=form.atleta %}
        </div>
    </div>

<!--    <div class="row">-->
<!--    </div>-->
</div>