{% extends 'base/base.html' %}
{% load static %}
{% block title %}Modalidades{% endblock title %}

{% block content %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h2 class="text-center"> Lista de modalidades </h2>
    <!--    <h2 class="text-center"> Lista de modalidades </h2>-->
    <a href="{% url 'modalidade:modalidade_add' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Adicionar
        modalidade</a>
</div>
<div class="row mt-5">
    {% for modalidade in modalidades %}
    <div class="col-auto  mt-3">
        <div class="card h-100 bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">
                <h5>{{ modalidade.nome }} </h5>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <b>Tipo: </b>{{ modalidade.tipo }}<br>
                    <b>Máximo de atletas:</b>{{ modalidade.max_atletas }}<br>
                    <b>Mínimo de atletas:</b>{{ modalidade.min_atletas }}<br>
                    <b>Naipe:</b>{{ modalidade.naipe }}<br>
                    <b>Tipo de confronto:</b>{{ modalidade.tipo_confronto }}<br>
                </p>
                <a href="{% url 'modalidade:modalidade_edit' modalidade.pk %}">
                    <button rel="tooltip" data-placement="left" title="Editar item" class="btn btn-info">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd"
                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </button>
                </a>
                <button type="button" rel="tooltip" data-placement="left" title="Apagar item" class="btn btn-danger"
                        data-toggle="modal" data-target="#modalModalidade{{modalidade.pk}}">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for modalidade in modalidades %}
    <div class="modal fade" id="modalModalidade{{modalidade.pk}}" tabindex="-1" role="dialog"
         aria-labelledby="TituloModalCentralizado" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TituloModalCentralizado">Apagar Modalidade</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'modalidade:modalidade_delete' modalidade.pk %}" method="POST" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                Tem certeza que deseja apagar a modalidade {{modalidade.nome}}?
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-round" data-dismiss="modal">Cancelar
                            </button>
                            <button type="submit" class="btn btn-danger btn-round">Apagar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
