{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-success sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'base:index' %}">
        <div class="sidebar-brand-icon">
            <!--            <i class="fas fa-laugh-wink"></i>-->
            <img src="{% static 'img/orjia.png' %}"
                 style="max-height:36%; max-width:36%;">
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'base:index' %}">
            <i class="fa fa-clipboard"></i>
            <span>Dashboard</span>
        </a>
        <a class="nav-link" href="{% url 'atletica:atleta_list' %}">
            <i class="fa fa-users"></i>
            <span>Atletas</span>
        </a>
        <a class="nav-link" href="{% url 'atletica:equipe_create' %}">
            <i class="fa fa-users"></i>
            <span>Equipes</span>
        </a>
        <a class="nav-link" href="#">
            <i class="fa fa-users"></i>
            <span>Perfil</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>
<!-- End of Sidebar -->