{% load static %}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>
    <!-- Topbar Navbar -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'base:index' %}"><img src="{% static 'img/orjia.png' %}"
                                                  style="max-height:100%; max-width:100%;"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:red;" href="{% url 'atletica:atletica_list' %}">Atleticas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:red;" href="#">Resultados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:red;" href="{% url 'modalidade:modalidade_list' %}">Modalidades</a>
            </li>
        </ul>
    </div>
    <li class="nav-item mx-0 mx-lg-1">
        <a class="btn btn-primary" href="{% url 'base:login' %}">Login</a>
    </li>
</nav>