{% extends 'base/base.html' %}
{% load static %}

{% block title %}Início{% endblock title %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    {% if campanha %}
    <h1 class="h3 mb-0 text-gray-800">Ranking - {{campanha.nome}}</h1>
    {% else %}
    <p class="alert alert-warning">Sem campanha registrada.</p>
    {% endif %}
</div>
<!-- Content Row -->
{% if campanha %}
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Atlética</th>
            <th scope="col">Pontos</th>
        </tr>
        </thead>
        <tbody>
        {% for s in score %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ s.atletica.nome }}</td>
            <td>{{ s.pontos }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}