{% extends 'base/base.html' %}
{% block title %}Início{% endblock title %}
%}{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Ranking</h1>
</div>

<!-- Content Row -->
<div class="row">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Atlética</th>
            <th scope="col">Pontos</th>
        </tr>
        </thead>
        <tbody>
        {#% for object in atleticas %#}
        <tr>
            <th scope="row">1</th>
            <td>IMPERIAL</td>
            <td>-20</td>
        </tr>
        {#% endfor %#}
        </tbody>
    </table>
</div>
{% endblock content %}